#header {
  width: 100%;
  padding: 1.5rem;
  height: 6rem;
}
#header .container {
  max-width: 75rem;
  display: flex;
  gap: 1rem;
  margin: auto;
  color: var(--text-assitive);
  justify-content: space-between;
}
#header .container .left-box {
  align-self: center;
}
#header .container .right-box {
  display: flex;
  align-items: center;
  height: 2.5rem;
}
#header .container .right-box .search-input-box {
  border: 1px solid var(--line-strong);
  display: flex;
  border-radius: 0.25rem;
  padding: 0.5rem 0.75rem;
  height: 2.5rem;
  align-items: center;
  gap: 0.5rem;
}
#header .container .right-box .search-input-box .search-input:focus {
  box-shadow: none;
}