@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable.css");
:root {
  --max-width: 75rem;
  --border-radius: .5rem;
  --font: "Pretendard Variable", -apple-system, BlinkMacSystemFont,
      system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
      "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  --dark-alert-100: rgba(242, 206, 204, 1);
  --dark-alert-200: rgba(242, 169, 165, 1);
  --dark-alert-300: rgba(242, 133, 127, 1);
  --dark-alert-400: rgba(242, 96, 89, 1);
  --dark-alert-50: rgba(242, 224, 223, 1);
  --dark-alert-500: rgba(242, 60, 50, 1);
  --dark-alert-600: rgba(191, 47, 40, 1);
  --dark-alert-700: rgba(140, 35, 29, 1);
  --dark-alert-800: rgba(89, 22, 19, 1);
  --dark-alert-900: rgba(38, 9, 8, 1);
  --dark-inform-100: rgba(196, 228, 242, 1);
  --dark-inform-200: rgba(149, 214, 242, 1);
  --dark-inform-300: rgba(103, 200, 242, 1);
  --dark-inform-400: rgba(56, 186, 242, 1);
  --dark-inform-50: rgba(220, 236, 242, 1);
  --dark-inform-500: rgba(10, 172, 242, 1);
  --dark-inform-600: rgba(8, 136, 191, 1);
  --dark-inform-700: rgba(5, 100, 140, 1);
  --dark-inform-800: rgba(4, 63, 89, 1);
  --dark-inform-900: rgba(2, 27, 38, 1);
  --dark-positive-100: rgba(204, 237, 223, 1);
  --dark-positive-200: rgba(163, 229, 194, 1);
  --dark-positive-300: rgba(125, 224, 170, 1);
  --dark-positive-400: rgba(86, 219, 147, 1);
  --dark-positive-50: rgba(221, 237, 228, 1);
  --dark-positive-500: rgba(47, 214, 124, 1);
  --dark-positive-600: rgba(37, 168, 97, 1);
  --dark-positive-700: rgba(27, 122, 71, 1);
  --dark-positive-800: rgba(17, 77, 44, 1);
  --dark-positive-900: rgba(7, 33, 19, 1);
  --dark-primary-100: rgba(216, 206, 242, 1);
  --dark-primary-200: rgba(188, 171, 242, 1);
  --dark-primary-300: rgba(161, 135, 242, 1);
  --dark-primary-400: rgba(134, 99, 242, 1);
  --dark-primary-50: rgba(230, 225, 242, 1);
  --dark-primary-500: rgba(107, 64, 242, 1);
  --dark-primary-600: rgba(85, 50, 191, 1);
  --dark-primary-700: rgba(62, 37, 140, 1);
  --dark-primary-800: rgba(40, 23, 89, 1);
  --dark-primary-900: rgba(17, 10, 38, 1);
  --dark-secondary-100: rgba(201, 242, 228, 1);
  --dark-secondary-200: rgba(161, 242, 214, 1);
  --dark-secondary-300: rgba(120, 242, 199, 1);
  --dark-secondary-400: rgba(79, 242, 185, 1);
  --dark-secondary-50: rgba(223, 242, 235, 1);
  --dark-secondary-500: rgba(38, 242, 171, 1);
  --dark-secondary-600: rgba(30, 191, 135, 1);
  --dark-secondary-700: rgba(22, 140, 99, 1);
  --dark-secondary-800: rgba(14, 89, 63, 1);
  --dark-secondary-900: rgba(6, 38, 27, 1);
  --dark-warning-100: rgba(242, 227, 194, 1);
  --dark-warning-200: rgba(242, 211, 145, 1);
  --dark-warning-300: rgba(242, 196, 97, 1);
  --dark-warning-400: rgba(242, 181, 48, 1);
  --dark-warning-50: rgba(242, 235, 218, 1);
  --dark-warning-500: rgba(242, 165, 0, 1);
  --dark-warning-600: rgba(191, 130, 0, 1);
  --dark-warning-700: rgba(140, 96, 0, 1);
  --dark-warning-800: rgba(89, 61, 0, 1);
  --dark-warning-900: rgba(38, 26, 0, 1);
  --gray-100: rgba(244, 244, 244, 1);
  --gray-150: rgba(225, 225, 225, 1);
  --gray-200: rgba(233, 233, 233, 1);
  --gray-250: rgba(216, 216, 216, 1);
  --gray-300: rgba(195, 195, 195, 1);
  --gray-350: rgba(182, 182, 182, 1);
  --gray-400: rgba(167, 167, 167, 1);
  --gray-50: rgba(250, 250, 250, 1);
  --gray-500: rgba(130, 130, 130, 1);
  --gray-550: rgba(125, 125, 125, 1);
  --gray-600: rgba(98, 98, 98, 1);
  --gray-700: rgba(73, 73, 73, 1);
  --gray-725: rgba(68, 68, 68, 1);
  --gray-750: rgba(52, 52, 52, 1);
  --gray-775: rgba(60, 60, 60, 1);
  --gray-800: rgba(39, 39, 39, 1);
  --gray-900: rgba(30, 30, 30, 1);
  --gray-950: rgba(15, 15, 15, 1);
  --light-alert-100: rgba(255, 217, 215, 1);
  --light-alert-200: rgba(255, 178, 174, 1);
  --light-alert-300: rgba(255, 140, 134, 1);
  --light-alert-400: rgba(255, 101, 93, 1);
  --light-alert-50: rgba(255, 236, 235, 1);
  --light-alert-500: rgba(255, 63, 53, 1);
  --light-alert-600: rgba(204, 50, 42, 1);
  --light-alert-700: rgba(153, 38, 32, 1);
  --light-alert-800: rgba(102, 25, 21, 1);
  --light-alert-900: rgba(51, 13, 11, 1);
  --light-inform-100: rgba(206, 240, 255, 1);
  --light-inform-200: rgba(157, 225, 255, 1);
  --light-inform-300: rgba(108, 211, 255, 1);
  --light-inform-400: rgba(59, 196, 255, 1);
  --light-inform-50: rgba(232, 248, 255, 1);
  --light-inform-500: rgba(10, 181, 255, 1);
  --light-inform-600: rgba(8, 145, 204, 1);
  --light-inform-700: rgba(6, 109, 153, 1);
  --light-inform-800: rgba(4, 72, 102, 1);
  --light-inform-900: rgba(2, 36, 51, 1);
  --light-positive-100: rgba(214, 249, 230, 1);
  --light-positive-200: rgba(173, 244, 205, 1);
  --light-positive-300: rgba(132, 238, 181, 1);
  --light-positive-400: rgba(91, 232, 156, 1);
  --light-positive-50: rgba(232, 249, 240, 1);
  --light-positive-500: rgba(50, 226, 131, 1);
  --light-positive-600: rgba(40, 181, 105, 1);
  --light-positive-700: rgba(30, 136, 79, 1);
  --light-positive-800: rgba(20, 91, 52, 1);
  --light-positive-900: rgba(10, 45, 26, 1);
  --light-primary-100: rgba(227, 217, 255, 1);
  --light-primary-200: rgba(198, 180, 255, 1);
  --light-primary-300: rgba(170, 142, 255, 1);
  --light-primary-400: rgba(141, 105, 255, 1);
  --light-primary-50: rgba(242, 237, 255, 1);
  --light-primary-500: rgba(113, 67, 255, 1);
  --light-primary-600: rgba(90, 54, 204, 1);
  --light-primary-700: rgba(68, 40, 153, 1);
  --light-primary-800: rgba(45, 27, 102, 1);
  --light-primary-900: rgba(23, 13, 51, 1);
  --light-secondary-100: rgba(212, 255, 240, 1);
  --light-secondary-200: rgba(169, 255, 225, 1);
  --light-secondary-300: rgba(126, 255, 210, 1);
  --light-secondary-400: rgba(83, 255, 195, 1);
  --light-secondary-50: rgba(235, 255, 248, 1);
  --light-secondary-500: rgba(40, 255, 180, 1);
  --light-secondary-600: rgba(32, 204, 144, 1);
  --light-secondary-700: rgba(24, 153, 108, 1);
  --light-secondary-800: rgba(16, 102, 72, 1);
  --light-secondary-900: rgba(8, 51, 36, 1);
  --light-warning-100: rgba(255, 239, 204, 1);
  --light-warning-200: rgba(255, 223, 153, 1);
  --light-warning-300: rgba(255, 206, 102, 1);
  --light-warning-400: rgba(255, 190, 51, 1);
  --light-warning-50: rgba(255, 247, 229, 1);
  --light-warning-500: rgba(255, 174, 0, 1);
  --light-warning-600: rgba(204, 139, 0, 1);
  --light-warning-700: rgba(153, 104, 0, 1);
  --light-warning-800: rgba(102, 70, 0, 1);
  --light-warning-900: rgba(51, 35, 0, 1);
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
}

[data-theme=light] {
  --background-primary: var(--gray-100);
  --background-secondary: var(--white);
  --background-tertiary: var(--gray-50);
  --fill-alternative: var(--gray-200);
  --fill-disable: var(--gray-300);
  --fill-primary: var(--gray-100);
  --filter-carousel: rgba(0, 0, 0, 0.1);
  --filter-high: rgba(0, 0, 0, 0.6);
  --filter-low: rgba(0, 0, 0, 0.4);
  --line-alternative: var(--gray-100);
  --line-disable: var(--gray-300);
  --line-normal: var(--gray-200);
  --line-strong: var(--gray-400);
  --primary-alternative: var(--light-primary-300);
  --primary-assistive: var(--light-primary-100);
  --primary-heavy: var(--light-primary-700);
  --primary-interaction-hover: rgba(90, 54, 204, 0.05);
  --primary-interaction-pressed: rgba(68, 40, 153, 0.08);
  --primary-normal: var(--light-primary-500);
  --primary-strong: var(--light-primary-600);
  --secondary-alternative: var(--light-secondary-300);
  --secondary-assistive: var(--light-secondary-100);
  --secondary-heavy: var(--light-secondary-700);
  --secondary-interaction-hover: rgba(32, 204, 144, 0.05);
  --secondary-interaction-pressed: rgba(24, 153, 108, 0.08);
  --secondary-normal: var(--light-secondary-500);
  --secondary-strong: var(--light-secondary-600);
  --status-alert: var(--light-alert-500);
  --status-alert-low: var(--light-alert-50);
  --status-inform: var(--light-inform-500);
  --status-inform-low: var(--light-inform-50);
  --status-success: var(--light-positive-500);
  --status-success-low: var(--light-positive-50);
  --status-warning: var(--light-warning-500);
  --status-warning-low: var(--light-warning-50);
  --text-alternative: var(--gray-700);
  --text-assistive: var(--gray-500);
  --text-disable: var(--gray-300);
  --text-heavy: var(--WB-black);
  --text-normal: var(--gray-800);
  --text-strong: var(--gray-900);
  --shadow-normal: rgba(122, 122, 122, .5);
}

[data-theme=dark] {
  --background-primary: var(--gray-900);
  --background-secondary: var(--gray-950);
  --background-tertiary: var(--gray-750);
  --fill-alternative: var(--gray-725);
  --fill-disable: var(--gray-750);
  --fill-primary: var(--gray-750);
  --filter-carousel: rgba(255, 255, 255, 0.1);
  --filter-high: rgba(255, 255, 255, 0.6);
  --filter-low: rgba(255, 255, 255, 0.4);
  --line-alternative: var(--gray-775);
  --line-disable: var(--gray-750);
  --line-normal: var(--gray-800);
  --line-strong: var(--gray-600);
  --primary-alternative: var(--dark-primary-300);
  --primary-assistive: var(--dark-primary-100);
  --primary-heavy: var(--dark-primary-700);
  --primary-interaction-hover: rgba(84, 51, 191, 0.05);
  --primary-interaction-pressed: rgba(62, 37, 140, 0.08);
  --primary-normal: var(--dark-primary-500);
  --primary-strong: var(--dark-primary-600);
  --secondary-alternative: var(--dark-secondary-300);
  --secondary-assistive: var(--dark-secondary-100);
  --secondary-heavy: var(--dark-secondary-700);
  --secondary-interaction-hover: rgba(30, 191, 135, 0.05);
  --secondary-interaction-pressed: rgba(22, 140, 99, 0.08);
  --secondary-normal: var(--dark-secondary-500);
  --secondary-strong: var(--dark-secondary-600);
  --status-alert: var(--dark-alert-500);
  --status-alert-low: var(--dark-alert-50);
  --status-inform: var(--dark-inform-500);
  --status-inform-low: var(--dark-inform-50);
  --status-success: var(--dark-positive-500);
  --status-success-low: var(--dark-positive-50);
  --status-warning: var(--dark-warning-500);
  --status-warning-low: var(--dark-warning-50);
  --text-alternative: var(--gray-350);
  --text-assistive: var(--gray-550);
  --text-disable: var(--gray-775);
  --text-heavy: var(--white);
  --text-normal: var(--gray-250);
  --text-strong: var(--gray-150);
  --shadow-normal: rgba(5, 5, 5, .5);
}

.title72x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 4.5rem;
  font-weight: 800;
  line-height: 1.25;
}

.title64x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.25;
}

.title56x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 3.5rem;
  font-weight: 800;
  line-height: 1.25;
}

.title48x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.25;
}

.title40x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1.25;
}

.title32x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1.25;
}

.title24x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.25;
}

.title20x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.25;
}

.title18x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.25;
}

.title16x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1.25;
}

.title14x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.875rem;
  font-weight: 800;
  line-height: 1.25;
}

.title12x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.75rem;
  font-weight: 800;
  line-height: 1.25;
}

.title10x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.625rem;
  font-weight: 800;
  line-height: 1.25;
}

.bodyB72x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB64x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB56x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB48x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB40x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB32x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB24x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB20x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB18x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB16x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB14x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB12x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.6;
}

.bodyB10x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1.6;
}

.body72x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.6;
}

.body64x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.6;
}

.body56x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 1.6;
}

.body48x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.6;
}

.body40x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.6;
}

.body32x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.6;
}

.body24x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
}

.body20x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.6;
}

.body18x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6;
}

.body16x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.body14x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6;
}

.body12x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.6;
}

.body10x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.625rem;
  font-weight: 400;
  line-height: 1.6;
}

.tag72x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1.6;
}

.tag64x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.6;
}

.tag56x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.6;
}

.tag48x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.6;
}

.tag40x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.6;
}

.tag32x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
}

.tag24x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.6;
}

.tag20x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
}

.tag18x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.6;
}

.tag16x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.6;
}

.tag14x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.6;
}

.tag12x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.6;
}

.tag10x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1.6;
}

.button72x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
}

.button64x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}

.button56x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1;
}

.button48x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.button40x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

.button32x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.button24x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

.button20x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
}

.button18x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1;
}

.button16x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}

.button14x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
}

.button12x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
}

.button10x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1;
}

.field72x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1;
}

.field64x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;
}

.field56x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1;
}

.field48x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
}

.field40x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
}

.field32x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
}

.field24x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}

.field20x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
}

.field18x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
}

.field16x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}

.field14x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
}

.field12x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
}

.field10x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1;
}

.checkbox72x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 1;
}

.checkbox64x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;
}

.checkbox56x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1;
}

.checkbox48x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
}

.checkbox40x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
}

.checkbox32x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
}

.checkbox24x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}

.checkbox20x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
}

.checkbox18x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
}

.checkbox16x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}

.checkbox14x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1;
}

.checkbox12x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1;
}

.checkbox10x {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 0.625rem;
  font-weight: 500;
  line-height: 1;
}

.caption {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.025rem;
  font-variant-numeric: tabular-nums;
  font-size: 10px;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1.25;
}

html, a, p, span {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  font-variant-numeric: tabular-nums;
  font-weight: 400;
}

button, b, strong {
  font-family: "Pretendard Variable";
  font-stretch: normal;
  font-style: normal;
  font-variant-numeric: tabular-nums;
  font-weight: 700;
}

* {
  font-family: "Pretendard Variable", -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  word-break: keep-all;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html, body, #theme {
  background-color: var(--background-secondary);
  color: var(--text-normal);
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  line-height: 1.6;
}

a {
  display: inline-flex;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  margin: 2rem 0;
  border: 0;
  height: 1px;
  background-color: var(--line-normal);
}

mark {
  background: var(--primary-normal);
  color: var(--white);
}

::-moz-selection {
  background: var(--primary-normal);
  color: var(--white);
}

::selection {
  background: var(--primary-normal);
  color: var(--white);
}

pre {
  background-color: var(--text-normal);
  padding: 1rem;
  margin: 0;
  border-radius: 0.5rem;
}

code {
  color: var(--text-disable);
}

* {
  box-sizing: border-box;
  word-break: keep-all;
  font-family: var(--font);
}

a,
a:hover,
a:active,
a:visited {
  color: var(--text-normal);
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

:global(#root) {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#body {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
}

.nav,
.footer {
  flex: none;
}

.body {
  position: relative;
  flex-grow: 1;
}

.mobile {
  display: none;
}
@media (max-width: 767px) {
  .mobile {
    display: block;
  }
}

textarea {
  display: inline-flex;
  min-height: 1rem;
  padding: 0.5rem 0.75rem;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid var(--line-normal);
  width: 100%;
  font-size: 1rem;
  -webkit-appearance: none;
  resize: none;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.themeMode {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--background-secondary);
  border: none;
  box-shadow: 0 0.125rem 1rem var(--shadow-normal);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.themeMode:focus {
  box-shadow: 0 0.125rem 1rem var(--shadow-normal);
}

svg {
  fill: var(--line-strong);
  transition: fill 0.3s ease;
}

select:focus, input:focus, textarea:focus, button:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(37, 67, 148, 0.4);
}

*::-moz-placeholder {
  color: var(--text-assistive);
}

*::placeholder {
  color: var(--text-assistive);
}

*:disabled, .disabled, #disabled {
  cursor: no-drop;
}

/* 체크박스 */
.checkBox {
  display: none;
}

.checkBox + em {
  display: inline-block;
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.25rem;
  border: 0.125rem solid var(--line-strong);
  position: relative;
  background: var(--white);
  cursor: pointer;
  box-sizing: border-box;
}

.checkBox + em:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 1;
  transition: all 0.3s ease;
  transform: scale(1);
}

.checkBox + em + span {
  display: inline-block;
  vertical-align: middle;
  color: var(--text-normal);
  margin-left: 0.5rem;
}

.checkBox:checked + em {
  background: var(--primary-normal);
  border: var(--primary-normal);
}

.checkBox:checked + em:before {
  opacity: 1;
  transform: scale(1);
}

.modal-open {
  overflow: hidden;
}

[type=email], [type=password], [type=text] {
  display: inline-flex;
  height: 1.5rem;
  padding: 0;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  font-size: 1rem;
  background: none;
  border: none;
  background-color: var(--background-secondary);
  color: var(--text-normal);
  flex: 1;
}
[type=email]:-moz-read-only, [type=password]:-moz-read-only, [type=text]:-moz-read-only {
  color: var(--text-assistive);
  background-color: var(--fill-primary);
}
[type=email]:read-only, [type=password]:read-only, [type=text]:read-only {
  color: var(--text-assistive);
  background-color: var(--fill-primary);
}
[type=email]:disabled, [type=password]:disabled, [type=text]:disabled {
  color: var(--text-disable);
  background-color: var(--fill-alternative);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.625rem;
}