.commont-list-item {
  padding: 1.5rem;
  background-color: var(--background-primary);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  gap: 0.5rem;
}
.commont-list-item .top {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.commont-list-item .top .profile-box {
  width: 2rem;
  height: 2rem;
}
.commont-list-item .top .profile-box .profile-image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  border-radius: 50%;
  background-position: 50%;
  background-size: 100%;
}
.commont-list-item .top .nickname {
  color: var(--text-strong);
}
.commont-list-item .top .divider {
  color: var(--text-nomal);
}
.commont-list-item .top .time {
  color: var(--text-nomal);
}
.commont-list-item .main .content {
  color: var(--text-nomal);
}