#header {
    width: 100%;
    padding: 1.5rem;
    height: 6rem;

    .container {
        max-width: 75rem;
        display: flex;
        gap: 1rem;
        margin: auto;
        color: var(--text-assitive);
        justify-content: space-between;

        .left-box {
            align-self: center;
        }

        .right-box {
            display: flex;
            align-items: center;
            height: 2.5rem;
            gap: .5rem;

            .search-input-box {
                border: 1px solid var(--line-strong);
                display: flex;
                border-radius: .25rem;
                padding: .5rem .75rem;
                height: 2.5rem;
                align-items: center;
                gap: .5rem;
                transition: fill 0.3s ease;

                .search-input {
                    &:focus {
                        box-shadow: none;
                    }
                }
            }
        }
    }
}